<h2>ユーザー一覧</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>メールアドレス</th>
      <th>住所</th>
      <th>自己紹介</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
